:root {
    --color-accent: #34547A;
    --color-title: #000;
    --color-main: #727272;
    --color-contrast: #fff;
    --bg-main: #EEEFF1;
    --bg-accent: #F9F9F9;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--color-main);
    background-color: var(--bg-main);
    line-height: 1.64;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--color-title);
    font-weight: 500;
}
.center {
    padding: 0 calc(50vw - 555px);
}
.btn {
    background: var(--color-accent);
    color: var(--color-contrast);
    text-decoration: none;
    max-width: 225px;
    width: 100%;
    min-height: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}
.btn:hover, .btn:focus {
    background: var(--color-contrast);
    color: var(--color-accent);
}
.btn:active {
    opacity: .7;
}
.header{
    padding-top: 80px;
    padding-bottom: 20px;
    background: var(--bg-main);
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 42px;
}
.nav__link {
    color: var(--color-title);
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}
.nav__link:hover,
.nav__link:focus {
    text-decoration: underline;
}
.nav__link:active {
    opacity: .7;
}
.nav__link.nav__link--active {
    color: var(--color-accent);
    font-weight: 500;
}
.offer {
    padding-top: 142px;
    padding-bottom: 142px;

}
.offer__content {
    max-width: 540px;
}
.offer__title {
    font-size: 48px;
    margin: 0 0 60px;
}
.offer__desc {
    margin: 0 0 60px;
}
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--color-accent);
    color: var(--color-contrast);
}
.footer__name {
    color: var(--color-contrast);
    margin: 0 0 20px;
    font-size: 21px;
}
.footer__copyright {
    font-size: 13px;
    margin: 0;
}
.aboutme {
    align-items: center;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    background: var(--bg-accent);
    display: flex;
    flex-direction: column;
}

.aboutme__title {
    margin-bottom: 50px;
    margin-top: 0;
    max-width: 403px;
}

.aboutme__desc {
    font-size: 16px;
    max-width: 540px;
    margin: 0;
}

.projects {
    background: var(--color-accent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
} 

.projects__item {
    display: flex;
    align-items: center;
    text-align: left;
}

.projects__icon {
    max-width: 50px; 
    margin-right: 20px;
}

.projects__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
    color: var(--color-contrast);
}

.projects__text-top {
    font-size: 21px; 
}

.projects__text-bottom {
    font-size: 16px; 
}

/* Текст + картинка с кнопкой */
.process {
    background: var(--bg-main);
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.process__title {
    margin-bottom: 50px;
    margin-top: 0;
    max-width: 403px;
}

.process__desc {
    font-size: 16px;
    max-width: 540px;
    margin: 0;
    padding-bottom: 57px;
}

.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.video__icon {
    width: 100%;
    height: auto;
    max-width: 1110px;
    position: relative;
    z-index: 1;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}